*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: chocolate;
}

.title{
    background-color: aquamarine;
    text-align: center;
    color: blueviolet;
    padding: 2rem;
}